*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

/* NAVBAR */
nav{
  margin-right: 30px;
  position: fixed;
  right: 0;
  z-index: 9;
}

nav li{
  display: inline-block;
  margin: 20px 10px;
}

nav li a{
  text-decoration: none;
  color: #000000;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 100%;
  padding: 7px 10px;
  background-color: #ffffff;
}

/* MAIN */
section{
  height: 950px;
  border-bottom: 1px solid black;
  position: relative;
}

h2{
  font-size: 50px;
  color: yellow;
}

section:last-child h2:last-child{
  color: green;
}

#box-rosso{
  background-color: red;
}

#box-giallo{
  background-color: yellow;
}

#box-verde{
  background-color: green;
}

/* POSIZIONE IMMAGINI */
.posizione-immagine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  margin-top: -50px;
}
